@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --font-family: "Roboto";
  --primary-color: rgb(97, 89, 136);
}

@mixin flex-center($display, $direction, $justify, $align) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin heading-style($font-size, $font-weight, $line-height) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin para-style($font-size, $font-weight, $line-height) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: var(--font-family), sans-serif;
}

.container {
  max-width: 1180px;
}

.submitBtn {
  border: 2px solid var(--primary-color);
  font-size: 1.125rem;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  padding: 10px 0px;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--primary-color);
    color: white;
  }
}

.navBtn {
  border: 2px solid var(--primary-color);
  border-radius: 300px;
  outline: none;
  color: var(--primary-color);
  font-size: 1rem;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--primary-color);
    color: white;
  }
}

.filterBtn {
  border: 2px solid var(--primary-color);
  border-radius: 300px;
  outline: none;
  color: var(--primary-color);
  font-size: 1rem;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--primary-color);
    color: white;
  }
}

.navbar {
  background-color: rgb(235, 234, 234);
  padding: 10px 0;
  .container {
    margin: 0px auto;
    @include flex-center(flex, row, space-between, center);
    h1 {
      color: var(--primary-color);
      @include heading-style(2rem, 700, 2);
    }
    .account {
      @include flex-center(flex, row, space-between, center);
      gap: 20px;
    }
  }
}

.register {
  .container {
    height: 85vh;
    margin: 0px auto;
    @include flex-center(flex, column, center, center);
    .heading {
      color: var(--primary-color);
      @include heading-style(3rem, 400, 1.5);
    }
    .form {
      @include flex-center(flex, column, center, center);
      gap: 1rem;
      width: 40%;
      input {
        font-size: 1rem;
        color: var(--primary-color);
        padding: 12px 15px;
        background-color: rgba(236, 234, 234, 0.651);
        width: 100%;
        border: none;
        border-radius: 10px;
        outline: none;
      }
      button {
        @extend .submitBtn;
        color: var(--primary-color);
      }
    }
    .text {
      font-size: 1rem;
      width: 40%;
      color: var(--primary-color);
    }
  }
}

.login {
  .container {
    height: 85vh;
    margin: 0px auto;
    @include flex-center(flex, column, center, center);
    .heading {
      color: var(--primary-color);
      @include heading-style(3rem, 400, 1.5);
    }
    .form {
      @include flex-center(flex, column, center, center);
      gap: 1rem;
      width: 40%;
      input {
        font-size: 1rem;
        color: var(--primary-color);
        padding: 12px 15px;
        background-color: rgba(236, 234, 234, 0.651);
        width: 100%;
        border: none;
        border-radius: 10px;
        outline: none;
      }
      button {
        @extend .submitBtn;
        color: var(--primary-color);
      }
    }
    .text {
      font-size: 1rem;
      width: 40%;
      color: var(--primary-color);
    }
  }
}

.profile {
  width: 40%;
  margin: 0px auto;
  @include flex-center(flex, column, center, center);
  .heading {
    color: var(--primary-color);
    @include heading-style(3rem, 400, 1.5);
  }
  .form {
    @include flex-center(flex, column, center, center);
    gap: 1rem;
    width: 100%;
    input {
      font-size: 1rem;
      color: var(--primary-color);
      padding: 12px 15px;
      background-color: rgba(236, 234, 234, 0.651);
      width: 100%;
      border: none;
      border-radius: 10px;
      outline: none;
    }
    button {
      @extend .submitBtn;
      color: var(--primary-color);
    }
  }
  .text {
    font-size: 1rem;
    width: 100%;
    color: green;
    @include flex-center(flex, row, space-between, center);
  }
}

.userTasks {
  .filterBtns {
    margin: 1rem auto;
    @include flex-center(flex, row, center, center);
    gap: 50px;
    button {
      text-wrap: nowrap;
      border-radius: 5px;
      outline: none;
      color: var(--primary-color);
      font-size: 1rem;
      text-align: center;
      padding: 10px 15px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0;
        background-color: var(--primary-color);
        transition: width 0.3s ease-in-out;
      }
      &:hover {
        background-color: rgb(223, 220, 220);
        &::before {
          width: 100%;
        }
      }
    }
  }
  .table {
    @include flex-center(flex, column, center, center);
    gap: 10px;
    background: transparent;
    .tableHead {
      .title {
        background-color: var(--primary-color);
        color: #fff;
        border-radius: 10px;
        width: 10rem;
        text-align: start;
        @include heading-style(1rem, 300, 1.5);
      }
      .description {
        background-color: var(--primary-color);
        color: #fff;
        border-radius: 10px;
        width: 20rem;
        text-align: start;
        @include heading-style(1rem, 300, 1.5);
      }
      .status {
        background-color: var(--primary-color);
        color: #fff;
        border-radius: 10px;
        width: 10rem;
        text-align: start;
        @include heading-style(1rem, 300, 1.5);
      }
      .date {
        background-color: var(--primary-color);
        color: #fff;
        border-radius: 10px;
        width: 8rem;
        text-align: start;
        @include heading-style(1rem, 300, 1.5);
      }
      .update {
        background-color: var(--primary-color);
        color: #fff;
        border-radius: 10px;
        width: 8rem;
        text-align: start;
        @include heading-style(1rem, 300, 1.5);
      }
      .delete {
        background-color: var(--primary-color);
        color: #fff;
        border-radius: 10px;
        width: 8rem;
        text-align: start;
        @include heading-style(1rem, 300, 1.5);
      }
    }
    .tableBody {
      .title {
        width: 10rem;
        text-align: center;
        padding: 10px 15px;
        border-bottom: 1px solid var(--primary-color);
      }
      .description {
        width: 20rem;
        text-align: justify;
        padding: 10px 15px;
        border-bottom: 1px solid var(--primary-color);
      }
      .status {
        width: 10rem;
        text-align: center;
        padding: 10px 15px;
        border-bottom: 1px solid var(--primary-color);
      }
      .date {
        width: 8rem;
        text-align: center;
        padding: 10px 15px;
        border-bottom: 1px solid var(--primary-color);
      }
      .update {
        width: 8rem;
        text-align: center;
        padding: 10px 15px;
        border-bottom: 1px solid var(--primary-color);
        font-size: 1rem;
        font-weight: 500;
        color: red;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
          text-underline-offset: 3px;
        }
      }
      .delete {
        width: 8rem;
        text-align: center;
        padding: 10px 15px;
        border-bottom: 1px solid var(--primary-color);
        font-size: 1rem;
        font-weight: 500;
        color: red;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
          text-underline-offset: 3px;
        }
      }
    }
  }
}
